$itemWidth: 100px;
$itemHeight: 30px;

#menuBarFullScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.menuBar {
  width: 100%;
  height: 30px;
  flex-direction: row;
  display: flex;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;

  font-family: var(--b3-font-family);
  color: var(--b3-theme-on-background);

  .dropdown {
    position: relative;
    display: inline-block;

    &:hover .dropdownContent {
      display: block;
    }

    .dropdownContent {
      display: none;
      position: absolute;
      z-index: 999;
      width: 100px;
      // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 10px 10px;
      top: 30px;
      right: 0; /* 添加right属性 */
      background-color: var(--b3-theme-background);
      padding: 5px;
      box-sizing: border-box;
  
      .dropdownItem {
        border-radius: 8px;
        &:hover {
          color: var(--b3-menu-item-background-hover-text);
          background: var(--b3-menu-item-background-hover);
        }
      }
    }
  }

  .menuBarText {
    width: $itemWidth;
    height: $itemHeight;

    position: relative;
    display: inline-block;
  }

  .menuBarItem {
    width: $itemWidth;
    height: $itemHeight;
    border-radius: 8px;

    position: relative;
    display: inline-block;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    &:hover {
      color: var(--b3-menu-item-background-hover-text);
      background: var(--b3-menu-item-background-hover);
    }
  }

}
